<a href="https://colab.research.google.com/github/jaewonleehyeyum/orm/blob/main/0104_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 논리연산

* 여러분들께서 휴면고객에 대해서 데이터를 받아서 가망고객

휴면고객 100,000명(DB) ->
1차. 20~40먼저 거르면 -> 4만명(-6만명) ->
2차. 10만원 이하를 사용한 고객 거르면 -> 2만명(-2만명)
3차. 3번 이하로 구매한 고객 -> 1만명(-1만명)
-----> 1만명에 대해서만

In [ ]:
# 예시

def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.

result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [1]:
# 퀴즈 1
True and False # and는 두 가지 조건 모두 True여야만 True 출력한다.

False

In [2]:
# 퀴즈 2
False or True # or은 둘중에 한가지 조건만 True여도 True를 출력한다.

True

In [3]:
# 퀴즈 4
0 and 1

0

In [4]:
bool(0 and 1) #은 False를 반환

False

# 2. 할당연산자

In [8]:
x = 5
y = 2
z = 10

x1 = y * z # 20 = 2 * 10
x2 = x + (y * z) # 25 = 5 + (2*10)
x += y * z # y * z 연산 후 x에 값을 더한 뒤에 할당한다.

print(x1)
print(x2)
print(x)

20
25
25

In [10]:
x += y * z
print(x)

65

In [11]:
x = 5
y = 2
x //= y
print(x)

2

In [12]:
x = 5
y = 2
x /= y
print(x)

2.5

In [13]:
a = 2
a **= 3
print(a)

8

# 3. 식별연산

In [14]:
# 1. 동일 인물 확인

coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

True
True

In [15]:
print(id(coffee_employee))
print(id(orange_employee))

136715001901488
136715001901488

In [17]:
# 2. ~5 ~ 256 같은 주소를 바라고 있지만 그 범위 이하 이상일때는 주소가 달라진다.

coffee_employee = 0
coffee_employee = 0

print(coffee_employee is orange_employee) # 주소가 같은지
print(orange_employee == orange_employee) # 실제 값이 같은지

True
True

In [19]:
coffee_employee = -6
orange_employee = -6

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

False
True

In [20]:
coffee_employee = 1000
orange_employee = 1000

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

False
True

In [21]:
#2. 예시 2

a = [1, 2, 3] #리스트 형인 [1, 2, 3]
b = [1, 2, 3] #리스트 형인 [1, 2, 3]
c = a #리스트 형인 [1, 2, 3] 다만 a에 있는 것을 재할당!

In [22]:
print(a,b,c)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [23]:
print('a == b', a == b)

a == b True

In [24]:
print('a == c', a == c)

a == c True

In [25]:
print('b == c', b == c)

b == c True

In [26]:
print('a is b', a is b)

a is b False

In [27]:
print('a is c', a is c)

a is c True

In [28]:
print('b is c', b is c)

b is c False

In [29]:
print(id(a),id(b),id(c))

136715000856384 136715000851968 136715000856384

# 4. 멤버 연산

In [30]:
# 기본 예시
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True

True

In [31]:
print(0 not in a) # 출력: True

True

In [32]:
print([2] in b) # 출력: False

False

In [34]:
# 자료형태를 잘 파악하여 In을 사용해야 함
a_1 = [[1,2], 3, 4]
#리스트 안에 있는 값은 정수형 1, 3, 4 / 리스트형 [2]

In [36]:
print([2] in a_1) # 출력: False

False

In [37]:
print([1, 2] in a_1) # 출력: True

True

In [38]:
print('h' in c) #출력: True
print('hello ' in c) #출력: True

True
True

# 5. 연산자 순서

In [39]:
-2 ** 2 # 출력: -4, -(2 ** 2)

-4

In [40]:
(-2) ** 2

4

In [42]:
(True * True) and (True + False)

1

In [43]:
a = 10
a *= 10 + 100
a # 출력: 1100

1100

In [44]:
# 퀴즈

fruits = ["사과", "바나나", "포도"]
print("체리" not in fruits)

True

In [45]:
greeting = "안녕하세요"
print("안녕" in greeting)

True

In [46]:
result = 2 + 3 * 4
print(result)

14

In [47]:
result = 10 / 2 * 4 - 3
print(result)

17.0

In [48]:
a = 17
b = 17.0

In [49]:
print(a == b) # 확인 요망

True

In [50]:
result = 2 ** 3 * 3 + 4 / 2 - 5
print(result)

'''
수학에서 계산을 할 때, 우선순위 규칙이 중요합니다. 주어진 식 `2 ** 3 * 3 + 4 / 2 - 5`의 계산 순서는 다음과 같습니다:
1. **지수 계산 (Exponentiation)**: 가장 높은 우선순위를 갖습니다. 이 경우 `2 ** 3`가 먼저 계산됩니다. 2의 3제곱은 8입니다.
2. **곱셈과 나눗셈 (Multiplication and Division)**: 다음으로 높은 우선순위를 가집니다. 이들은 왼쪽에서 오른쪽 순으로 계산됩니다. 여기서 먼저 `8 * 3`이 계산되어 24가 됩니다. 그 다음 `4 / 2`가 계산되어 2가 됩니다.
3. **덧셈과 뺄셈 (Addition and Subtraction)**: 가장 낮은 우선순위를 가집니다. 이들 역시 왼쪽에서 오른쪽 순으로 계산됩니다. `24 + 2`가 먼저 계산되어 26이 되고, 마지막으로 `26 - 5`가 계산되어 최종 결과는 21이 됩니다.

따라서 최종 계산 순서는 다음과 같습니다:
- `2 ** 3` → 8
- `8 * 3` → 24
- `4 / 2` → 2
- `24 + 2` → 26
- `26 - 5` → 21

그래서 최종 결과는 21입니다.
'''

21.0

# 퀴즈

In [51]:
#1번
a = 100
print((a > 100) and (a < 200)) # false
print((a > 100) or (a < 200)) # True
print((a >= 100) and (a <= 200)) # True
print((a >= 100) or (a <= 200)) # True

False
True
True
True

In [52]:
#2번
b = 25
print((b % 2 == 0) and (b % 5 == 0))

'''
이 코드는 변수 `b`의 값이 25일 때, 두 조건을 검사하여 논리적인 AND 연산을 수행합니다. 코드를 분석해 보겠습니다:

1. `b = 25`: 변수 `b`에 25라는 값이 할당됩니다.

2. `(b % 2 == 0) and (b % 5 == 0)`: 이 부분은 두 개의 조건을 검사하고, 두 조건 모두 참(True)일 때만 전체 표현식이 참(True)가 되는 논리적 AND 연산을 수행합니다.
   - `b % 2 == 0`: 이것은 `b`를 2로 나눈 나머지가 0인지를 검사합니다. 즉, `b`가 짝수인지 확인하는 것입니다. `b`가 25이므로, 이 조건은 거짓(False)입니다.
   - `b % 5 == 0`: 이것은 `b`를 5로 나눈 나머지가 0인지를 검사합니다. 즉, `b`가 5의 배수인지 확인하는 것입니다. `b`가 25이므로, 이 조건은 참(True)입니다.

그러나 논리적 AND 연산은 두 조건이 모두 참(True)일 때만 전체 결과가 참(True)이 되므로, 첫 번째 조건이 거짓(False)이기 때문에 전체 표현식의 결과는 거짓(False)이 됩니다.

따라서 이 코드의 출력 결과는 `False`입니다.
'''

False

In [55]:
# 3번 100원 거스름돈

c = 1000
c // 100

10

In [58]:
#4번 (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
#1. 금액을 입력 받는다. Or 금액에 대한 변수 필요
#2. 5000부터 100까지 거스름돈을 어떻게 줄지 생각해본다.
#3. 결론적으로 모든 거스름돈을 출력해서 -> (서비스) 캐셔 지폐교환기 -> 돈을 거슬러주면

money = int(input("거스름돈을 출력하세요"))

거스름돈을 출력하세요9980

In [59]:
print(money)

9980

In [60]:
# 5000원 지폐 개수 개산!
# 5000으로 나눠서 나눗셈된 값(몫) -> 5000원권 얼마나 거슬러 줘야하는가?

num_5000 = money // 5000

In [61]:
print(num_5000)

1

In [62]:
money -= (num_5000 * 5000)

In [63]:
print(money)

4980

In [64]:
num_1000 = money // 1000
money -= (num_1000 * 1000)

In [65]:
print(num_1000, money)

4 980

In [66]:
num_500 = money // 500
money -= (num_500 * 500)

In [67]:
print(num_500, money)

1 480

In [68]:
num_100 = money // 100
money -= (num_100 * 100)
print(num_100, money)

4 80

In [69]:
num_10 = money // 10
money -= (num_10 * 10)
print(num_10, money)

8 0

In [70]:
print(f"5000원의 개수는 ",num_5000,"개 입니다.") # 9,980원
print(f"5000원의 개수는 {num_5000} 개 입니다.") # 9,980원

5000원의 개수는  1 개 입니다.
5000원의 개수는 1 개 입니다.

# 실습 2

1. 사용자 입력 받기:
  - input() 함수를 사용하여 제품의 원가와 할인율을 입력받습니다.
2. 문자열을 숫자로 변환:
  - 입력받은 원가와 할인율을 각각 float() 함수를 사용하여 실수로 변환합니다.
3. 할인된 가격 계산:
  - 할인된 가격을 계산하는 공식을 사용합니다. (할인된 가격 = 원가 - (원가 × 할인율 / 100))
4. 결과 출력:
  - 계산된 할인된 가격을 print() 함수를 사용하여 출력합니다.

In [ ]:
# 제품의 원가와 할인율 입력 받기
original_price = float(input("원가를 입력하세요: "))
discount_rate = float(input("할인율을 입력하세요"))

원가를 입력하세요: 50000
할인율을 입력하세요50

In [ ]:
# 할인된 가격 계산
discounted_price = original_price - (original_price * discount_rate / 100)

In [ ]:
# 결과 출력
print("할인된 가격은", discounted_price, "입니다.")

할인된 가격은 25000.0 입니다.

# 실습 3. 단계별 가이드
1. 사용자 입력 받기:
  - input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
2. 문자열을 숫자로 변환:
  - 입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.
3. 산술 연산 수행:
  - 변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.
4. 문자열 길이 계산:
  - len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.
5. 성인 여부 판단:
  - 나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)
6. 결과 출력:
  - 계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [72]:
# Step 1
name = input("이름을 입력하세요: ")
age = input("나이를 입력하세요: ")
# Step 2
age = int(age)

이름을 입력하세요: 이재원
나이를 입력하세요: 39

In [73]:
# Step 3
next_year_age = age + 1 # 덧셈

In [74]:
# Step 4
name_length = len(name)

In [75]:
# Step 5
is_adult = age >= 18    #비교 연산자

In [76]:
# Step 6
print(f'제 이름은 {name}입니다.')
print(f'제 나이는 {next_year_age}입니다. 작년에는 {age} 였습니다.')
print(f'성인여부는 {is_adult}입니다.')

제 이름은 이재원입니다.
제 나이는 40입니다. 작년에는 39 였습니다.
성인여부는 True입니다.