<a href="https://colab.research.google.com/github/jaewonleehyeyum/orm/blob/main/0108_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수와 인사하기
함수는 모든 프로그래밍의 기본 구성 요소 중 하나입니다. 함수는 특정 작업을 수행하는 코드 블록을 하나의 이름 아래로 모은 것입니다, 이를 통해 함수명을 "호출"하여 코드 블록을 실행할 수 있습니다.

In [ ]:
def test():
	x = 10
	y = 20
	print(x, y) # print할수 있는 코드를 만들어서 -> 사용!

# 함수를 사용하는 방법

In [ ]:
#들여쓰기 - 스페이스바 4번 입력 (띄어쓰기)
def my_function(): #함수의 정의
    print('1') #함수의 본문 시작
    print('2')
    print('3') #함수의 본문
my_function() #함수의 호출

1
2
3

In [ ]:
#2. 들여쓰기
def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')
    print('3')

# 함수의 실행
my_function() #실행을 할때는 def와 :은 필요없다. -> 함수의 본문이 실행 된다.

1
2
3

In [ ]:
 print('3')

3

In [ ]:
#2. 들여쓰기
def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')


print('4') # 함수의 바깥에서 실행된다.
print('3')

# 함수의 실행
my_function() #실행을 할때는 def와 :은 필요없다. -> 함수의 본문이 실행 된다.

4
3
1
2

In [ ]:
#2. 들여쓰기
def my_function():
    print('1') #4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')
    print('3')

# 함수의 실행
my_function() #실행을 할때는 def와 :은 필요없다. -> 함수의 본문이 실행 된다.

1
2
3

In [ ]:
def function_name(x, y):
    z = x + y # z = 10 + 9
    return z # z만 가지고서는 출력이 되지 않는다.!

# 1. return을 함수 내에 지정하지 않았을때
# print(f'function_name(10, 9) = {function_name(10, 9)}')

# 2. print()문을 사용하지 않았을 때
function_name(10, 9)

19

In [ ]:
print(1 / 0)

In [ ]:
def f():
    print(1 / 0)

print('hello')

In [ ]:
#2.1 입력 매개변수가 없고 반환값도 없는 함수
def simple_function():
    print('hello world')

# 함수 호출
print(simple_function()) # 함수는 return 값을 찾겠구나!

hello world
None

In [ ]:
# 2.2 파라미터가 없고, 반환값은 있는 함수
def give_me_five():
    return 5

result = 5 # 비슷한 느낌
result = give_me_five() # 할당!
print(result) # 출력: 5

5

In [ ]:
#2.3 입력 매개변수가 있고, 반환 값이 없는 함수

def greeting(name):
    print(f'Hello, {name}!')

# 함수 호출
print(greeting('Licat'))

Hello, Licat!
None

In [ ]:
# 2.4 입력 매개변수가 있고, 반환 값이 있는 함수

def add_numbers(x, y):
    sum = x + y
    return sum

# 함수 호출
result = add_numbers(5, 3)
print(result)  # 출력: 8

8

In [ ]:
print(print('hello'))

hello
None

In [6]:
# 1.3 파라미터의 기본 사용
def f(a, b, c):
    print(a, b, c)

f(100,200,300)
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 200 300
100 200 300
100 200 300

In [7]:
# 1.3.2 기본값을 가지는 파라미터

def f(a=10, b=20, c=30):
    print(a, b, c)

f() # 출력: 10 20 30
f(100, 10) # 출력: 100 10 30
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

10 20 30
100 10 30
100 200 300
100 200 300

In [8]:
# 올바른 예
def f(a, b=20, c=10):
    print(a, b, c)

print(f(100, 10)) # 출력: 100 10 10
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 10 10
None
100 200 300
100 200 300

In [9]:
# 1.4.1 컨밴션 자료형을 아규먼트로 넣었을 때
def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a)
print(a)  # 출력: [2, 3, 4, 1]

[2, 3, 4, 1]

In [10]:
def add_element(my_list):
    my_list.append(1)
    print(id(my_list)) # 출력: 135115033605760

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115033605760
print(a)  # 출력: [2, 3, 4, 1]

139443113890624
139443113890624
[2, 3, 4, 1]

In [11]:
def add_element(my_list):
    my_list = 10
    print(id(my_list)) # 출력: 135115442078224

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115029248768
print(a)  # 출력: [2, 3, 4]

139443392528912
139443116897152
[2, 3, 4]

In [12]:
#1.4.2 권장되지 않는 기본값

# 권장하지 않는 방법
def append_to_list(value, lst=[]):
    lst_update = lst # 추천!
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

In [13]:
append_to_list(1) # 출력: lst = [1]

[1]

In [14]:
append_to_list(2) # 출력: [2]?
# 출력: [1, 2], 그러나 결과가 [2]가 나올것으로 예상할수도 있습니다.

[1, 2]

In [15]:
# 권장 방법
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

In [16]:

append_to_list(1) # 출력: lst = [1]

[1]

In [17]:

append_to_list(2) # 출력: lst = [2]

[2]

# 지역변수와 전역변수

In [18]:
# 전역 변수
test = 1

# 지역 변수 (함수 내에 사용한 변수!)
def example():
    test = 100
    return test

print(example())
print(test)

100
1

In [19]:

# 지역 변수 사용 예시
def f():
    # 강원도의 지역화폐는 -> 경기도에서 사용 불가
    # 미국 달러는 한국 원으로 대체서 살수없다.
    a = 1 # 이 변수는 f() 내에서만 정의! 절대 바깥에서는 사용할 수 없는거죠.
    print(a)  # 출력: 1
    return a

f()
a =
print(a)  # error: a는 f 함수 내부에서만 정의되었습니다.

SyntaxError: invalid syntax (<ipython-input-19-6f8a381f26ac>, line 10)

In [ ]:
def f():
    a = 1 # 지역변수 함수 내에서만 사용가능
    b = 100
    print(locals()) # 출력: {'a': 1} # 지역변수가 어떤게 있는지 확인

f()

In [ ]:
def f():
    a = 1
    b = 'hello'
    def ff():
        pass
    print(locals()) # 출력: {'a': 1, 'b': 'hello', 'ff': .ff at 0x7a46e99d2c20>}

f()

In [ ]:
# global 함수 전역변수 지정
a = 100

def f():
    global a # 이 구문으로 a를 바깥에서도 사용(전역변수 지정)
    a = a + 1
    return a

print(f()) #101
print(a)  #출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

In [ ]:
a = 100

def f():
    print(a) # 출력: 100

f()

def ff():
    b = a + 1
    print(b) # 출력: 101

ff()

In [ ]:
a = 100

def f():
    a = 1000
    print(a) # 출력: 1000

f()

In [ ]:

def f():
    a = 100
    a = a + 1 # error
    return a
print(f())

In [ ]:
a = 100
def f():
    a = a + 1 # error

f()

Built in function
## 1. all, any
- all() 함수는 iterable(반복 가능한) 객체(예: 리스트, 튜플, 문자열 등)를 인수로 받아, 그 안에 있는 모든 요소가 True로 평가되면 True를 반환하고, 그렇지 않으면 False를 반환합니다.

In [ ]:

#1. all, any
# all 마치 and와 비슷하다.
# 모두 다 True여야 True 반환
all([True, True, True]) # 출력: True
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

In [ ]:

all([1, 1, 1, 1]) # 출력: False

In [ ]:
# 하나라도 True이면 True이다. or과 비슷
any([True, False, False]) # 출력: True

In [ ]:

any([False, False, False]) # 출력: False

# 2.3 Map 함수
- map() 함수는 기존의 리스트(또는 튜플)의 모든 요소에 특정 함수를 적용한 결과를 map 객체 형태로 반환하는 함수입니다. map 객체는 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [ ]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

In [ ]:
[1, 2, 3, 4] * 2

In [ ]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

In [ ]:

# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

# 2.5 Zip 함수
- zip() 함수는 여러 개의 순회 할 수 있는 객체의 요소를 묶어서 반환합니다. 다만 메모리의 효율을 위해 형변환이나 직접 순회를 하기 전까지는 메모리 주소로만 반환합니다.

In [ ]:

# 기본형태 : zip(순회할 수 있는 객체1, 순회할 수 있는 객체2...)

list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]

In [ ]:

list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

In [ ]:
list(zip('abcd', '1234567', [10, 20, 30, 40]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [ ]:
x = [1, 2, 3]
y = [1, 4, 9]
list(zip(x, y)) # 출력: [(1, 1), (2, 4), (3, 9)]

In [ ]:
# 2.10.3 enumerate
# index를 자동으로 생성할때 자주 사용

# 같은 Key 값으로 묶는다.

values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))

In [ ]:

values = ['김진환', '이호준', '라이켓', '웅이']
print(list(enumerate(values)))

In [ ]:
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

In [ ]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)