<a href="https://colab.research.google.com/github/jaewonleehyeyum/orm/blob/main/0109_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문

In [ ]:
#함수
def 함수명():
    pass

In [ ]:
#조건문
if 조건:
    pass

In [ ]:
#반복문
for 변수명 in 순회_가능한_객체:
    pass # 수행할_문장

In [1]:
test = 'hello'

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [2]:
print(test[0])
print(test[0:2])

하나
둘
셋

In [3]:
#반복문 기초 - 문자열
#1. 'hello'를 순서대로 하나씩 단어를 꺼내서
#2. x에 하나씩 넣은 다음에
#3. 하나씩 for문 아래 코드블럭을 수행한다.
#4. 그리고 순서가 마쳐지면 -> 다음 시퀀스(순서)로 넘어가서 똑같은 작업을 수행한다.

for x in 'hello': # 순회 가능한 객체 -> 문자열 / 리스트 / 다른 데이터셋 / range(10) / 기타등등
    print(f'현재 값은 {x} 입니다.')

2550

In [4]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

[1, 2]
[10, 20]
[100, 200]

In [ ]:
for x in [1, 2, 3, 4, 5]:
    print(f'현재 값은 {x} 입니다.')

In [ ]:
for x in range(10,20,2):
    print(f'현재 값은 {x} 입니다.')

In [ ]:
len([1, 2, 3, 4, 5])

In [ ]:
len(range(10,20,2))

In [ ]:
# 문자열 자료형을 범위로 가져왔을때!

s = 'hello world'
for i in s:
    print(i)

In [ ]:
s = '123'
result = 0
for i in s:
    result += int(i)

In [ ]:
for i in '123':
    result += int(i)

In [ ]:
print(result)

In [ ]:
# 딕셔너리 자료형
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i)

In [ ]:
# 딕셔너리 자료형
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전.items():
    print(i)

In [ ]:
result = 0
for i in range(101):
    result += i
result

In [ ]:
n = 100
result = (n + 1) * n / 2
result

In [ ]:
# 짝수코드 작성!

result = 0
# 리스트라면 비어있는 리스트라도 만들어야하는구나 result = []
# 비어있는 자료형도 자료형이다. None도 자료형이다.

for i in range(101): # 0~100까지 시퀀스 자료형을 불러온다.
    if i % 2 == 0:   # 0~100까지 중에서 짝수만 가져온다.
        result += i  # 짝수를 가져와서 누적으로 더한다. 0, 2, 4, 6, ... 100 까지 더한다.

print(result) # 출력한다.

In [ ]:
result = 0
for i in range(0, 101, 2):
    result += i
result

# 2.2 중첩 반복문

In [6]:
[1,2,3,4]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
[
  [1, 2],
  [10, 20],
  [100, 200]
]

SyntaxError: invalid syntax (<ipython-input-8-82b9b459c915>, line 2)

In [11]:
# code1
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)

In [12]:
# code2
for j in [1, 2]:
    print(j)

['2 x 1 = 2', '2 x 2 = 4', '2 x 3 = 6', '2 x 4 = 8', '2 x 5 = 10', '2 x 6 = 12', '2 x 7 = 14', '2 x 8 = 16', '2 x 9 = 18', '3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16', '4 x 5 = 20', '4 x 6 = 24', '4 x 7 = 28', '4 x 8 = 32', '4 x 9 = 36', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45', '6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36', '6 x 7 = 42', '6 x 8 = 48', '6 x 9 = 54', '7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49', '7 x 8 = 56', '7 x 9 = 63', '8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64', '8 x 9 = 72', '9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81']

In [ ]:
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    for j in i:
        print(j)

In [55]:
#1. 방금처럼 구조를 정한다.
#2. 최소한의 반복문만 수행해본다.
#3. 각 반복문을 print()해본다.

In [ ]:
#Step 2.1
for i in [[1, 2], [10, 20], [100, 200]]:
    # code2
    for j in i:
        print(j)

In [ ]:
# code2
for j in [1, 2]:
    print(j)

In [ ]:
# 1. i = [1,2]
# 2. print(i) -> [1,2] ->원래는 생략!
# 3. [1,2] -> [1]
# 4. print(j) -> 1이 출력

In [ ]:
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    for j in i:
        print(j)

In [ ]:
# 9*9단 19*19단!
for i in range(2, 10):
    print(f'---{i}단---')
    for j in range(1, 10):
        print(f'{i} X {j} = {i * j}')

# 2.2 리스트 컴프리핸션

In [17]:
for i in range(0x3131, 0x3135):
   print(chr(i))

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [19]:
# 기존 반복문
x = []

for i in range(1, 10): # 1~9까지
    x.append(i) #append(리스트에 값을 추가!)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [20]:
# 리스트 컴프리헨션
# step1 list안에 for문을 가져옵니다.
#[for i in range(1, 10)] # for문 시작하는 조건을 가져오고 리스트로 묶는다.

# step2 append 항목을 앞으로 가져옵니다. - 여기서 i -> 자동으로 append
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a, b)

1
2
3
4
5
6
7
8
9

In [21]:
# 리스트 컴프리헨션 + 조건문
l = [i for i in range(1, 10) if i % 2 == 0 and i % 3 == 0]
print(l)

0
1
2
3
4
5
6
7
8
9

In [ ]:
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [ ]:
result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

In [ ]:
# 중첩된 리스트 컴프리헨션

# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

In [ ]:
print(c)

In [ ]:
def sumthingFunction(i): # 함수 sumthingFunction(i)을 생성
    if i % 100 ==0:      # 조건문 100으로 나눴을때 나머지가 0이 되는것
        return i         # 조건에 일치하면 i를 리턴 일치하지 않으면 0을 리턴하는데,
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l] # l(리스트)에 있는 값들을 하나씩 꺼내서, 함수에 태워보고, 조건에 맞는것만 출력
l # 출력: [100, 200, 300, 0, 0, 0]
print(l)

In [ ]:
l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x : x * x)(x) for x in l]
print(l2)

In [ ]:
# 딕셔너리 컴프리핸션

# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2
print(d)

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(dd)

In [ ]:
# 복합 순회형 자료 for문

for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

In [ ]:
for i in ['abc']:
    print(i)

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i, j)

In [ ]:
# 하나만 리스트여도 쌓이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

In [ ]:
# enumerate 활용

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in 영화누적관객수:
    print(i)

In [ ]:
for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!') # i에는 index값 j에는 영화 제목! ,1 -> 1부터 시작!